<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="accountDao" class="dao.impl.AccountDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <bean id="accountService" class="service.impl.AccountServiceImpl">
        <property name="accountDao" ref="accountDao"></property>
    </bean>
    <bean id="accountController" class="controller.AccountController">
        <property name="accountService" ref="accountService"></property>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/test1?serverTimezone=UTC&amp;useSSL=false"></property>
        <property name="username" value="root"></property>
        <property name="password" value="LQ18851195070"></property>
    </bean>

    <!--将增强类交给Spring管理-->
    <bean id="logger" class="aop.Logger">
    </bean>
    <!--aop配置-->
    <aop:config>
        <!--切入点配置-->
        <aop:pointcut id="accountServicePointcut" expression="execution(public void service.impl.AccountServiceImpl.transfer(int, int, int))"/>
        <!--增强配置-->
        <aop:aspect id="loggerAdvice" ref="logger">
            <aop:before method="before" pointcut-ref="accountServicePointcut"></aop:before>
            <aop:after method="after" pointcut-ref="accountServicePointcut"></aop:after>
            <aop:after-returning method="afterReturning" pointcut-ref="accountServicePointcut"></aop:after-returning>
            <aop:after-throwing method="afterThrowing" pointcut-ref="accountServicePointcut"></aop:after-throwing>
        </aop:aspect>
    </aop:config>
</beans>